.overlay-dps{
    top: 0;
    left: 0;
    transition: 0.3s ease;

    .main-details{
        transition: 0.3s ease;
        position: absolute;
        top: 0;
        right: 0;
        width: 500px;
        background-color: #4f4f5f;

        .details-image{
            width: 305px;
            margin: 20px auto;
        }

        .image-select{
            margin: 0 auto;
            width: 80%;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    
    .details-layer{
        transition: 0.3s ease;
        background-color: rgba(25,25,25,.83);
    }

    &.inactive{
        pointer-events: none;

        .main-details{
            right: -100%;
        }
        
        .details-layer{
            opacity: 0;
        }
    }
}