// Brand Color Definitions
$brand-primary:                         #2DBECD !default;
$brand-secondary:                       #503291 !default;
$brand-success:                         #A5CD50 !default;
$brand-info:                            #96D7D2 !default;
$brand-warning:                         #FFC832 !default;
$brand-danger:                          rgba(237,26,59,1) !default;
$brand-action:                          #EB3C96 !default;


$primary-color: $brand-danger;
