.overflow-x-scroll {
  overflow-x: scroll; }

.overflow-y-scroll {
  overflow-y: scroll; }

.overflow-x-hide {
  overflow-x: hidden; }

.overflow-y-hide {
  overflow-y: hidden; }

.clickable {
  cursor: pointer; }

.no-outline {
  outline: none; }

.no-select {
  user-select: none; }

.no-events {
  pointer-events: none; }

.no-decoration {
  text-decoration: none; }

.no-opacity {
  opacity: 0 !important; }

.no-visibility {
  visibility: hidden; }

.no-cursor {
  cursor: default; }

.z-index-50 {
  z-index: 50; }

.z-index-100 {
  z-index: 100; }

.z-index-150 {
  z-index: 150; }
