.c-white {
  color: #fff; }

.c-light {
  color: #8190A5; }

.c-light2 {
  color: #8492A6; }

.c-black {
  color: #47525E; }

.c-gray {
  color: #bfbdc5; }

.w-thin {
  font-weight: 100; }

.w-extra-light {
  font-weight: 200; }

.w-light {
  font-weight: 300; }

.w-regular {
  font-weight: 400; }

.w-medium {
  font-weight: 500; }

.w-semi-bold {
  font-weight: 600; }

.w-bold {
  font-weight: 700; }

.w-extra-bold {
  font-weight: 800; }

.w-black {
  font-weight: 900; }

.sty-normal {
  font-style: normal; }

.sty-italic {
  font-style: italic; }

.s-12 {
  font-size: 12px; }

.s-13 {
  font-size: 13px; }

.s-14 {
  font-size: 14px; }

.s-15 {
  font-size: 15px; }

.s-16 {
  font-size: 16px; }

.s-18 {
  font-size: 18px; }

.s-20 {
  font-size: 20px; }

.s-21 {
  font-size: 21px; }

.s-22 {
  font-size: 22px; }

.s-24 {
  font-size: 24px; }

.s-26 {
  font-size: 26px; }

.s-28 {
  font-size: 28px; }

.s-30 {
  font-size: 30px; }

.s-32 {
  font-size: 32px; }

.s-34 {
  font-size: 34px; }

.s-36 {
  font-size: 36px; }

.td-underline {
  text-decoration: underline; }
