.main-sidebar {
  transition: 0.3s ease;
  top: 0px;
  left: 0px; }
  .main-sidebar.inactive {
    left: -185px; }

.sidebar {
  background-color: #2d3146;
  width: 185px; }
  .sidebar::-webkit-scrollbar {
    display: none; }
  .sidebar .char-image {
    width: 135px; }

.hide-btn {
  transition: 0.2s ease;
  background-color: #25293c;
  width: 13px; }
  .hide-btn:hover {
    background-color: #20243a; }
